.body {
  position: relative;
}

.section {
  width: 100%;
}

.section h1 {
  padding: 50px;
}

.nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.icon {
  font-size: 40px;
  margin-left: 10px;
  margin-right: 20px;
  color: #f9f871;
}

.email {
  display: inline-block;
  font-size: 40px;
  margin-left: 10px;
  margin-right: 20px;
}

.navList {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 100vh;
  padding: 10px;
  margin-right: -550px;
  background-color: #563a34;
  transition: margin 0.7s ease-in-out;
}

.navList.active {
  margin: 0px;
}

.navList ul {
  z-index: 9000;
}

.navList ul li {
  list-style: none;
  font-size: 40px;
  margin-top: 40px;
}

.navList ul li a {
  text-decoration: none;
  color: #e3be5d;
}

.navList ul li a:hover {
  border-bottom: 0.5px solid white;
  color: white;
}

.closeBtn {
  margin: 50px 0 30px 50px;
  cursor: pointer;
  font-size: 30px;
  color: #e3be5d;
}

.closeBtn:hover {
  color: white;
  animation: scaleAnimation 2s;
}

.toggle {
  margin: 10px 30px 10px 0;
}

.arrowUp {
  position: fixed;
  right: 10px;
  bottom: 20px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.logo div {
  margin: 10px;
}

.percent {
  position: fixed;
  z-index: 1000;
  width: 0%;
  height: 5px;
  background-color: rgb(114, 214, 199);
}

.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1f1c1c;
}

.experience {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #5b656b;
}

.skills {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: #1f1c1c;
}

.projects {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 60px;
  background-color: #5b656b;
}

.contact {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #1f1c1c;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
