.section {
  width: 100%;
}

.section h1 {
  padding: 50px;
}

.nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

.logo {
  display: flex;
}

.toggle {
  margin: 10px 30px 10px 0;
}

.logo div {
  margin: 10px;
}

/* .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(182, 236, 218);
} */

.experience {
  display: flex;
  justify-content: center;
  background-color: rgb(241, 210, 215);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(246, 220, 173);
}

.skills {
  display: flex;
  justify-content: center;
  background-color: rgb(188, 194, 236);
}

.projects {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 60px;
  background-color: rgb(234, 152, 152);
}

.contact {
  display: flex;
  justify-content: center;
  background-color: rgb(235, 155, 235);
}
