.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-top: -100px;
}

.container h1 {
  font-size: 40px;
}

.listWrapper {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 100px;
  width: 90%;
}

.list div {
  display: flex;
  margin: 20px;
  font-size: 30px;
}

.list div button {
  width: 20%;
  font-size: 25px;
  margin-right: 30px;
}

.list div div {
  width: 80%;
  font-size: 20px;
}

.list a {
  margin: 20px;
  text-decoration: none;
  color: black;
}

.title {
  font-size: 20px;
}
