.container {
  width: 70%;
  margin-top: 60px;
  padding-bottom: 50px;
}

.container h1 {
  font-size: 40px;
}

.buttonGroup {
  display: flex;
  justify-content: space-evenly;
  margin-top: -20px;
}

.buttonGroup button {
  font-size: 16px;
  padding: 3px;
  border-radius: 10px;
}

.buttonGroup button:hover {
  background-color: rgb(166, 235, 212);
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.description div {
  border-radius: 20px;
  width: 40%;
  padding: 10px;
}

.description div h2 {
  font-size: 30px;
  padding: 10px;
  margin-bottom: 10px;
}

.description div p {
  color: gray;
  line-height: 30px;
}
